.sidebar {
  max-height: calc(100vh - (var(--ifm-navbar-height) + 2rem));
  overflow-y: auto;
  position: sticky;
  top: calc(var(--ifm-navbar-height) + 2rem);
}

.sidebarItemTitle {
  font-size: var(--ifm-h4-font-size);
  font-weight: var(--ifm-font-weight-bold);
  font-family: var(--ifm-heading-font-family);

  color: var(--ifm-text-color);

  &:hover {
    color: var(--ifm-link-color);
    text-decoration: none;
  }
}

.sidebarItemList {
  font-size: 0.8rem;
}

.sidebarItem {
  margin-top: 0.7rem;
}

.sidebarItemLink {
  color: var(--ifm-font-color-base);
  display: block;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sidebarItemLink:hover {
  text-decoration: none;
}

.sidebarItemLinkActive {
  color: var(--ifm-color-primary) !important;
}

@media (max-width: 996px) {
  .sidebar {
    display: none;
  }
}

.backButton {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  text-align: right;
  float: right;

  transition: all 0.3s ease-in-out;
  cursor: pointer;

  background-color: #fafaf9;

  &:hover {
    color: var(--ifm-link-color);
    background-color: #f1f5f9;
  }
}

html[data-theme='dark'] .backButton {
  background-color: #1e293b;

  &:hover {
    background-color: #334155;
  }
}
