.blogPostTitle {
  position: relative;
  font-weight: 500;
}

.blogPostTitle:hover::after {
  visibility: visible;
  transform: scaleX(1);
}

.blogPostTitle::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--ifm-color-primary);
  visibility: hidden;
  transition: all 0.3s linear;
  transform: scaleX(0);
}

.blogPostInfo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: var(--ifm-spacing-m);
  gap: 5px;
}

.blogPostInfoTags {
  display: flex;
  gap: 5px;
}

.blogPostInfoTags > a {
  font-size: 0.8em;
  padding: 1px 5px;
}

.blogPostAuthor {
  display: inline-block;
  margin: 0 4px;
  font-size: 0.95rem;
  font-weight: 400;
  color: inherit;
}

.blogPostAuthor:hover {
  text-decoration: none;
}

.blogPostCopyright {
  margin: 1rem 0 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid #eee;
  font-size: 0.95rem;
  transition: box-shadow 0.3s ease-in-out;
}

.blogPostDate,
.blogPostReadTime {
  font-size: 0.9rem;
}

.blogPostDetailsFull {
  flex-direction: column;
}
