.featureContainer {
  max-width: 1280px;
  padding: 2rem 1rem;
}

.features {
  display: grid;
  grid-template-columns: repeat(3, minmax(260px, 1fr));
  gap: 1.5rem;
  margin: 0;
  padding: 0.5rem 0;
}

.feature {
  position: relative;
  background: transparent;
  border-radius: 0.375rem;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition: all 0.3s linear;
}

.featureSvg {
  height: 150px;
  width: 100%;
}

.feature:hover {
  box-shadow: 0 0 10px 10px rgb(221 221 221 / 20%);
}

html[data-theme='dark'] .feature:hover {
  box-shadow: 0 0 10px 10px rgb(71 71 71 / 20%);
}

@media (width <= 768px) {
  .features {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.75rem;
  }
}
