.info-wrapper {
  margin-bottom: 1rem;
}

.card {
  border-radius: 12px;
  background: var(--blog-item-background-color);
  box-shadow: var(--blog-item-shadow);
  padding: 1em 1em;

  position: relative;
}

.personal-info-wrapper {
  width: 100%;
}

.personal-img {
  display: block;
  width: 6rem;
  height: 6rem;
  margin: 2rem auto 1rem;
  border-radius: 50%;
}

.personal-name {
  font-size: 1rem;
  text-align: center;
  color: var(--text-color);
}

@media (max-width: 1000px) {
  .info-wrapper {
    margin-top: 0 !important;
    /* order: -1; */
  }
}
