.archiveTitle {
  display: inline-flex;
  align-items: center;
}

.archiveCount {
  text-align: right;
  margin-top: -2.5rem;
  font-size: 0.85rem;
  opacity: 0.8;
}

.archiveYear {
  position: relative;
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 1rem 0;
  width: 100%;
  font-weight: 400;
  font-size: 1.4rem;
}

.archiveYear span {
  font-size: 0.85rem;
  font-weight: 300;
  color: var(--ifm-secondary-text-color);
}

.archiveYearTitle {
  display: inline-flex;
  margin: 0;
  font-size: 1.4rem;
  font-weight: 400;
  margin-right: 0.5rem;
  color: var(--ifm-text-color);
  border-bottom: 1px dashed var(--ifm-color-emphasis-300);
  padding-bottom: 0.3rem;
}

.archiveList {
  padding: 0;
  margin: 0;
  margin-top: 0.5rem;
}

.archiveItem {
  position: relative;
  display: flex;
  list-style: none;
}

.archiveItem a {
  display: flex;
  align-items: center;
  color: var(--ifm-text-color);
  padding: 0.2rem 0;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: var(--ifm-font-family-base);

  text-decoration: none;
  white-space: nowrap;
  transition: padding 0.3s;
}

.archiveTime {
  opacity: 0.6;
  font-size: 0.85rem;
  font-weight: 400;
  margin-right: 0.5rem;
  width: 3rem;
  position: relative;
  color: var(--hty-secondary-text-color);

  font-family: 'Source Code Pro', Consolas, Monaco, SFMono-Regular,
    'Ubuntu Mono', Menlo, monospace;
}

.archiveItem a > span:hover {
  color: var(--ifm-color-primary);
}
