.archiveCount {
  text-align: right;
  margin-top: -2.5rem;
  font-size: 0.85rem;
  opacity: 0.8;
}

.archive {
  max-width: 860px;
  margin: 0 auto;
  padding: 1rem 2.5rem;

  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
  margin-bottom: 1rem;
  border-radius: 2px;
  background: var(--card-background);
}

.archiveTitle {
  display: inline-flex;
  align-items: center;
}

.archiveYear {
  position: relative;
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 1rem 0 1rem 0.8rem;
  width: 100%;
  font-weight: 400;
  font-size: 1.4rem;
}

.archiveYear::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -1rem;
  left: -0.8rem;
  background: var(--ifm-color-primary);
}

.archiveYear span {
  margin-right: 1rem;
  font-size: 0.85rem;
  font-weight: 300;
  color: var(--ifm-secondary-text-color);
}

.archiveList {
  padding: 0;
  margin: 0;
}

.archiveItem {
  position: relative;
  display: flex;
  padding: 0.4rem 0;
  border-bottom: 1px solid var(--ifm-color-primary-light);
  list-style: none;
}

.archiveItem::before {
  content: '';
  position: absolute;
  width: 2px;
  top: 0;
  height: 100%;
  background: rgb(0 120 231 / 30%);
}

.archiveItem a {
  display: flex;
  align-items: center;
  color: var(--ifm-text-color);
  padding: 0.4rem 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: var(--ifm-font-family-base);

  text-decoration: none;
  transition: padding 0.3s;
}

.archiveItem a::before {
  content: '';
  position: absolute;
  left: 0;
  top: 1.5rem;
  width: 0.5rem;
  height: 0.5rem;
  margin-left: -4px;
  border-radius: 50%;
  border: 1px solid rgb(0 120 231);
  background-color: rgb(255 255 255);
  z-index: 1;
  transition-duration: 0.3s;
  transition-delay: 0s;
  transition-property: background;
}

.archiveItem a:hover::before {
  background: rgb(0 120 231);
}

.archiveTime {
  opacity: 0.6;
  font-size: 0.85rem;
  font-weight: 400;
  margin-right: 0.5rem;
  width: 3rem;
  position: relative;
  color: var(--hty-secondary-text-color);

  font-family: 'Source Code Pro', Consolas, Monaco, SFMono-Regular,
    'Ubuntu Mono', Menlo, monospace;
}

.archiveItem a > span:hover {
  color: var(--ifm-color-primary);
}
