.blogGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 12px;
  margin-bottom: 1rem;
}

.postGridItem {
  min-width: 24rem;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-areas:
    'title title'
    'tags date';
  column-gap: 2em;
  row-gap: 1em;
  align-items: center;
  padding: 1em 1.2em;
  background: var(--blog-item-background-color);
  border-radius: 6px;
  position: relative;
  transition: all 0.3s;

  &:hover {
    box-sizing: border-box;
    box-shadow: var(--blog-item-shadow);
  }

  .itemTitle {
    color: inherit;
    font-size: 1em;
    text-decoration: none;
    transition: 0.5s;
    grid-area: title;

    &:hover {
      color: var(--ifm-color-primary);
    }
  }

  .itemStick {
    grid-area: stick;
    justify-self: end;
    color: #6ebdff;
    position: absolute;
    top: -6px;
    left: 0;
    display: inline-block;
    font-size: 1.5rem;

    &::before {
      content: '\e62b';
    }
  }

  .itemTags {
    grid-area: tags;
    /* overflow-x: auto; */

    display: flex;
    gap: 4px;
    padding: 0.2em 0;
    white-space: nowrap;
    font-size: 0.8rem;

    a {
      padding: 1px 4px;
    }
  }

  .itemDate {
    font-size: 0.8rem;
    grid-area: date;
    justify-self: end;
    color: var(--ifm-color-emphasis-600);
  }
}

/* post list view adjustment */
@media only screen and (max-width: 768px) {
  .postGridItem {
    min-width: 100%;
  }
}

/* post list view adjustment */
@media only screen and (max-width: 576px) {
  .blogGrid {
    grid-template-columns: minmax(0, max-content);
  }

  .postGridItem {
    max-width: 100%;
    min-width: 28rem;
  }
}
