.noteItem {
  display: flex;
}

.bloginfo__content {
  position: sticky;
  top: 1rem;

  // top: calc(var(--ifm-navbar-height) + 1rem);
}

.bloginfo__card {
  border-radius: 12px;
  background: var(--blog-item-background-color);
  box-shadow: var(--blog-item-shadow);
  padding: 0.8em 1em;
  margin: 0;
  position: relative;
  display: block;
  text-align: center;

  a {
    text-decoration: none;
  }
}

.bloginfo__card-navbar {
  margin-top: 1rem;
  position: relative;
  display: block;
  text-align: center;
}

.bloginfo__img {
  width: 6rem;
  height: 6rem;
  max-width: 100%;
  border-radius: 50%;
  padding: 4px;
  background-color: #fff;
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  transition: 0.4s;

  &:hover {
    box-shadow: 0 0 30px rgb(0 120 231 / 20%);
  }
}

.bloginfo__name {
  color: var(--ifm-text-color);
  font-family: var(--ifm-font-family-name);
  font-weight: 900;
  cursor: pointer;
  margin: 0 auto;
}

.bloginfo__description {
  margin: 0.5rem auto;
  color: var(--ifm-secondary-text-color);
  font-size: 0.8rem;
}

.bloginfo__num {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 1rem;
  font-weight: 500;
  gap: 2px;
}

.bloginfo__num-item {
  transform: all 0.3s ease-in-out;
  display: flex;
  flex-shrink: 0;
  gap: 5px;
  padding: 0 10px;
  align-items: center;
  color: var(--ifm-text-color);
  border-left: 1px solid #999;

  &:hover {
    text-decoration: none;
    color: var(--ifm-color-primary);
    cursor: pointer;
  }
}

.bloginfo__num-item:nth-child(1) {
  border: none;
}

/* .bloginfo__num-item::after {
  content: attr(data-tips);
  position: absolute;
  top: 0;
  margin: 0 auto;
  white-space: nowrap;
  opacity: 0;
  transform: translateY(-150%);
  transition: 0.2s;
}

.bloginfo__num-item:hover::after {
  opacity: 1;
  transform: translateY(-100%);
} */

.bloginfo__tags {
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;

  > a {
    padding: 2px 5px;
  }
}
