.projectContainer {
  max-width: 1280px;
}

.content {
  border-radius: var(--ifm-card-border-radius);
}

.slider {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 260px;
  overflow: hidden;
}

.slide {
  height: 100%;
  width: 400px;
  margin: 0 0.5rem;

  .image {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 1rem;
  }

  a:hover {
    text-decoration: none;
  }
}

.slideBody {
  padding: 0.5rem 0;
  text-align: center;
  width: 100%;

  .title {
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.25rem;
    margin: 0;
  }

  .website {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--ifm-color-primary);
    margin: 0;
  }
}

/* Media Queries */
