.mdxPageWrapper {
  justify-content: center;
}

/* 
html[data-theme='dark'] .content {
  border-radius: 7px;
  box-shadow: 0px 0px 32px rgba(0, 105, 165, 0.35);
  color: #daf6ff;
  background: radial-gradient(ellipse at center, #0a2e38 0%, #000000 70%);
} */

.content {
  max-width: 900px !important;
  box-shadow: 0 4px 6px 6px rgba(7, 17, 27, 0.09);
  border-radius: 8px;
  padding: 40px !important;
}
