.friendContainer {
  @apply max-w-4xl mx-auto py-2 px-4;
}

.friendList {
  @apply grid grid-cols-[repeat(auto-fill,_minmax(280px,_1fr))] gap-6;
}

.dragBox {
  @apply sticky bottom-4 left-4 inline-flex text-right cursor-move;
}

.siteInfo code {
  @apply p-4;
  --ifm-pre-padding: 0 1rem 1rem;
}

.codeBlock pre {
  padding: 0;
  margin: 0;
}
