.searchContainer {
  margin-left: auto;
}

.searchContainer input {
  height: 30px;
  border-radius: 15px;
  padding: 10px;
  border: 1px solid gray;
}

.showcaseList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 24px;
}

.siteInfo {
  text-align: left;
  padding: 10px;
  width: 450px;
  margin: 0 auto;
  margin-bottom: 1rem;
  border-radius: var(--ifm-pre-border-radius);
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  --ifm-leading: 0;
}

