:root {
  --ifm-color-primary: #12affa;
  --ifm-color-primary-dark: #05a1ec;
  --ifm-color-primary-darker: #0598df;
  --ifm-color-primary-darkest: #047eb8;
  --ifm-color-primary-light: #2cb8fb;
  --ifm-color-primary-lighter: #b0e6ff;
  --ifm-color-primary-lightest: #d5f1fd;
  --ifm-code-font-size: 95%;
  --ifm-font-family-base: 'Inter', ui-sans-serif, system-ui, -apple-system,
    'Segoe UI', 'Helvetica Neue', 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji', consolas,
    sfmono-regular, menlo, monaco, 'Liberation Mono', monospace;

  --ifm-heading-font-family: var(var(--ifm-font-family-base));
  /* --content-font-family: "Raleway", "Kai", "楷体", "Kaiti", serif; */

  --ifm-navbar-shadow: 0 4px 28px rgb(0 0 0 / 10%);
  --ifm-toc-border-color: #f7f7f7;
  --text-color: #2b333e;
  /* --ifm-heading-color: hsl(200deg, 20%, 20%); */

  --ifm-menu-color: #0d203a;

  /* 搜索框 */
  --search-local-modal-background: hsl(0deg 0% 100%);
  --search-local-modal-shadow: 0 0 48px hsl(0deg 0% 0% / 12%);

  /* 进度条背景 */
  --progress-bar-background-color: #f3f3f3;

  /* 卡片背景 */
  --card-background: #fff;

  /* 选中未选中 */
  --btn-selected: var(--ifm-color-primary);
  --btn-unselected: #cecece;

  /* 标签背景 */
  --tag-background: var(--ifm-color-primary);
  --tag-background-dark: #0179fa77;
  --tag-background-light: #1982bb;

  /* 代码块背景 */
  --ifm-code-background: #12affa1a;
  --ifm-code-color: var(--ifm-color-primary);
  --prism-background-color: #f6f8fa;

  --ifm-bg-color: #f5f5f5;
  --ifm-text-color: #333;
  --ifm-secondary-text-color: #555;

  --site-primary-hue-saturation: 167 68%;
  --site-primary-hue-saturation-light: 167 56%; /* do we really need this extra one? */

  --site-color-favorite-background: #f6fdfd;
  --site-color-tooltip: #fff;
  --site-color-tooltip-background: #353738;
  --site-color-svg-icon-favorite: #e9669e;
  --site-color-checkbox-checked-bg: hsl(167deg 56% 73% / 25%);
  --site-color-feedback-background: #fff;
  --docusaurus-highlighted-code-line-bg: rgb(200 200 200);
}

html {
  --post-title-color: hsl(220deg 79% 58%);
  --post-pub-date-color: #8c8c8c;
  --divider-color: #ebebeb;
  --post-shadow-color: rgb(220 220 220 / 30%);
  --post-shadow: 0 0 20px 10px var(--post-shadow-color);
  --content-background-color: #f8f9fa;
  --blog-item-background-color: linear-gradient(180deg, #fff, #fcfcfc);

  --blog-item-shadow: 0 20px 20px rgb(0 0 0 / 2.5%), 0 50px 80px rgb(0 0 0 / 5%);

  --ifm-heading-color: #000;

  -webkit-font-smoothing: unset;
  /* 文字颜色 */
  color: hsl(214deg 37% 25%);
}

html :is(h1, h2, h3, h4, h5, h6) {
  --ifm-heading-color: hsl(214deg 78% 17%);
}

html[data-theme='dark'] {
  --ifm-color-primary: hsl(214deg 100% 60%);
  --ifm-color-primary-light: hsl(214deg 100% 75%);
  --post-title-color: rgb(255 255 255);
  --post-pub-date-color: var(--ifm-color-gray-100);
  --divider-color: #353535;
  --ifm-toc-border-color: #313131;
  --post-shadow-color: rgb(29 77 150 / 80%);
  --content-background-color: inherit;
  --blog-item-background-color: linear-gradient(145deg, #041a31, #000);
  --blog-item-shadow: 0 10px 60px 5px #253748, 0 0 10px 0 #253748;
  --ifm-heading-color: #fff;

  --ifm-menu-color: #eceef1;

  color: hsl(214deg 15% 85%);

  /* 搜索 */
  /* 搜索框 */
  --search-local-modal-background: var(--ifm-background-color);
  --search-local-modal-shadow: 0 0 48px hsl(0deg 100% 100% / 12%);

  /* 进度条背景 */
  --progress-bar-background-color: #3e3e3e;
  /* 卡片背景 */
  --card-background: #0c0c0c;

  --ifm-text-color: var(--ifm-menu-color);
  --ifm-secondary-text-color: #eee;

  --docusaurus-highlighted-code-line-bg: rgb(100 100 100);
}

html[data-theme='dark'] :is(h1, h2, h3, h4, h5, h6) {
  --ifm-heading-color: hsl(214deg 100% 96%);
}

body {
  font-family: Inter, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji', consolas, sfmono-regular, menlo, monaco,
    'Liberation Mono', monospace;
}

html,
body {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: var(--ifm-color-primary);
}

html[data-theme='dark'] ::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: var(--ifm-color-primary-dark);
}

::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: rgb(255 255 255 / 10%);
}

.theme-code-block {
  --prism-background-color: #f6f8fa !important;
}

html[data-theme='dark'] .theme-code-block {
  --prism-background-color: #1e1e1e !important;
}

.main-wrapper h1 {
  font-size: 2.2em;
}

.markdown {
  > h1 {
    font-size: 2.2em;
  }

  > h2 {
    font-size: 1.8em;
    border-bottom: 1px solid #338bff;
    margin-top: 1rem;

    &::before {
      margin-right: 0.3em;
      width: 0.4em;
      display: inline-block;
      background: var(--ifm-color-primary);
      color: transparent;
      content: '.';
    }
  }

  > h3 {
    font-size: 1.5em;

    &::before {
      margin-right: 0.3em;
      width: 0.3em;
      display: inline-block;
      background: var(--ifm-color-primary);
      color: transparent;
      content: '.';
    }
  }

  > h4 {
    font-size: 1.2em;

    &::before {
      margin-right: 0.3em;
      width: 0.2em;
      display: inline-block;
      background: var(--ifm-color-primary);
      color: transparent;
      content: '.';
    }
  }

  > a {
    transition: all 0.1s;
    display: inline-block;

    &:focus,
    &:hover {
      color: #db2828;
    }
  }

  .markdown-body a:hover::before {
    width: 100%;
  }

  img {
    display: flex;
    margin: 0 auto;
  }
}

/* 首页背景 */
.container-wrapper {
  background: var(--content-background-color);

  /*   box-shadow: 0 -16px 24px var(--post-shadow-color);
  box-shadow: var(--blog-item-shadow); */
}

/* navbar */
.navbar {
  box-shadow: none;

  .navbar__title {
    margin-left: 12px;
    color: var(--ifm-color-primary);
    font-family: var(--ifm-font-family-name);
  }
}

.navbar__link,
.dropdown,
.navbar__title,
.menu {
  font-weight: 400;
}

.bloghome__scroll-down {
  justify-self: center;
  align-self: end;
  grid-column: span 2;
  position: absolute;
  bottom: 8em;
  background: linear-gradient(25deg, #1081ff, #72e1f6, #b185ff);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  border-radius: 6px;
  cursor: pointer;

  button {
    border: none;
    width: 150px;
    height: 48px;
    background: white;
    border-radius: 4px;
    cursor: pointer;

    svg {
      stroke: #7f7f7f;
    }
  }
}

.bloghome__posts-list,
.bloghome__posts-grid {
  animation: fading 0.8s;
}

/* 切换视图按钮 */
.bloghome__swith-view {
  text-align: center;
  margin: 0 0 1em;
}

.blogtag__swith-view {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bloghome__swith-view svg,
.blogtag__swith-view svg {
  cursor: pointer;
  transition: 0.6s;
}

.bloghome__switch--selected {
  fill: var(--btn-selected);
}

.bloghome__switch {
  fill: var(--btn-unselected);
}

.bloghome__posts-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 12px;
}

.post__list-item {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-areas:
    'title title'
    'tags date';
  column-gap: 2em;
  row-gap: 1em;
  align-items: center;
  padding: 1em 1.2em;
  background: var(--card-background);
  border-radius: 6px;
  position: relative;

  &:hover {
    box-sizing: border-box;
    box-shadow: var(--blog-item-shadow);
    transition: all 0.5s;
  }

  .post__list-title {
    color: inherit;
    font-size: 1em;
    text-decoration: none;
    transition: 0.6s;
    grid-area: title;

    &:hover {
      color: var(--ifm-color-primary);
    }
  }

  .post__list-stick {
    grid-area: stick;
    justify-self: end;
    color: #6ebdff;
    position: absolute;
    top: -6px;
    left: 0;
    display: inline-block;
    font-size: 1.5rem;

    &::before {
      content: '\e62b';
    }
  }

  .post__list-tags {
    grid-area: tags;
    /* overflow-x: auto; */
    padding: 0.2em 0;
    white-space: nowrap;

    a {
      background: white;
    }
  }

  .post__list-date {
    grid-area: date;
    justify-self: end;
    color: var(--ifm-color-emphasis-600);
  }

  /* 博客列表 */
  /*   .bloghome__posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
  } */

  /* 发布日期 */
  .post__date-container {
    display: grid;
    justify-items: center;
  }

  .post__day {
    font-size: 4.75em;
    line-height: 1em;
    font-weight: 900;
  }

  .post__year_month {
    align-self: start;
    color: var(--post-pub-date-color);
  }
}

.post__tags {
  font-size: 0.85em;
  font-weight: 500;
  padding: 5px;
  border-radius: 0.5rem;
  color: var(--ifm-link-color);
  border: 1px solid var(--docusaurus-tag-list-border);
  transition: border var(--ifm-transition-fast);

  &:hover {
    border: 1px solid var(--ifm-link-color);
    text-decoration: none;
  }
}

.note__item {
  display: flex;
}

html[data-theme='dark'] .post__tags {
  color: #d4e8fa;
  background: var(--tag-background-dark);
}

.pagination-nav {
  margin: 2em 0;

  .pagination-nav__link {
    background: linear-gradient(
      90deg,
      var(--ifm-color-primary-light) 11.3%,
      var(--ifm-color-primary) 161.54%
    );
    color: white;
    border: none;

    .pagination-nav__sublabel {
      color: white;
    }
  }
}

html[data-theme='dark'] .pagination-nav__link {
  background: var(--tag-background-dark);
  box-shadow: 0 0 32px rgb(0 105 165 / 35%);
  color: white;
  border: none;
}

.pagination-nav__item--next > .pagination-nav__link {
  background: linear-gradient(
    90deg,
    var(--ifm-color-primary) 11.3%,
    var(--ifm-color-primary-light) 161.54%
  );
}

/* 文档侧栏字体大小 */
.menu__list-item > .menu__link[tabindex] {
  font-size: 0.875rem;
  font-weight: normal;
  letter-spacing: 1.2px;
  line-height: 1.8em;
}

.blog__section-title {
  margin: 1em 0;
  text-align: center;
}

.blog__recommend {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 24px;
  padding: 0;

  li {
    border-radius: 5px;
    background: var(--blog-item-background-color);
    box-shadow: var(--blog-item-shadow);
  }

  .card__image {
    overflow: hidden;
    height: 150px;
    border-bottom: 2px solid var(--ifm-color-emphasis-200);
  }

  p {
    font-size: smaller;
  }

  h4 {
    font-size: 1.1rem;

    a {
      position: relative;

      &:hover {
        text-decoration: none;
      }

      &:hover::after {
        visibility: visible;
        transform: scaleX(1);
      }

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: var(--ifm-color-primary);
        visibility: hidden;
        transition: all 0.3s linear;
        transform: scaleX(0);
      }
    }
  }
}

@media only screen and (max-width: 996px) {
  .blog-wrapper > .container > .row {
    display: flex;
  }

  .bloginfo {
    display: none;
  }

  .blog__recommend {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* post list view adjustment */
@media only screen and (max-width: 700px) {
  .bloghome__posts-grid {
    row-gap: 16px;
    grid-template-columns: minmax(0, max-content);
  }

  .post__list-item {
    min-width: 24rem;
  }

  .blog__recommend {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 570px) {
  .main-wrapper h1,
  .markdown > h1 {
    font-size: 1.6em;
  }

  .markdown > h2 {
    font-size: 1.4em;
  }

  .markdown > h3 {
    font-size: 1.2em;
  }

  .post__date-container {
    margin-bottom: 1em !important;
  }
}

@keyframes fading {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* 导航收缩相应尺寸调大 */
@media (max-width: 1100px) {
  .navbar > .container,
  .navbar > .container-fluid {
    padding: 0;
  }

  .navbar__toggle {
    display: inherit;
  }

  .navbar__item {
    display: none;
  }

  .navbar__search-input {
    width: 9rem;
  }

  .navbar-sidebar {
    display: block;
  }
}

code {
  color: var(--ifm-code-color);
}

.bloginfo__content {
  position: sticky;
  top: 1rem;

  // top: calc(var(--ifm-navbar-height) + 1rem);
}

.bloginfo__card {
  border-radius: 12px;
  background: var(--blog-item-background-color);
  box-shadow: var(--blog-item-shadow);
  padding: 0.8em 1em;
  margin: 0;
  position: relative;
  display: block;
  text-align: center;

  a {
    text-decoration: none;
  }
}

.bloginfo__card-navbar {
  margin-top: 1rem;
  position: relative;
  display: block;
  text-align: center;
}

.bloginfo__img {
  width: 6rem;
  height: 6rem;
  max-width: 100%;
  border-radius: 50%;
  padding: 4px;
  background-color: #fff;
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  transition: 0.4s;

  &:hover {
    box-shadow: 0 0 30px rgb(0 120 231 / 20%);
  }
}

.bloginfo__name {
  color: var(--ifm-text-color);
  font-family: var(--ifm-font-family-name);
  font-weight: 900;
  cursor: pointer;
  margin: 0 auto;
}

.bloginfo__description {
  margin: 0.5rem auto;
  color: var(--ifm-secondary-text-color);
  font-size: 0.8rem;
}

.bloginfo__num {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 1rem;
  font-weight: 500;
  gap: 2px;
}

.bloginfo__num-item {
  transform: all 0.3s ease-in-out;
  display: flex;
  flex-shrink: 0;
  gap: 5px;
  padding: 0 10px;
  align-items: center;
  color: var(--ifm-text-color);
  border-left: 1px solid #999;

  &:hover {
    text-decoration: none;
    color: var(--ifm-color-primary);
    cursor: pointer;
  }
}

.bloginfo__num-item:nth-child(1) {
  border: none;
}

/* .bloginfo__num-item::after {
  content: attr(data-tips);
  position: absolute;
  top: 0;
  margin: 0 auto;
  white-space: nowrap;
  opacity: 0;
  transform: translateY(-150%);
  transition: 0.2s;
}

.bloginfo__num-item:hover::after {
  opacity: 1;
  transform: translateY(-100%);
} */

.bloginfo__tags {
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;

  > a {
    padding: 2px 5px;
  }
}

.bloginfo__note {
  margin-top: 0.5rem;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(2, 50%);

  .bloginfo__note-item {
    font-size: 1em;
    text-align: center;
    font-weight: 600;
    background: var(--tag-background);
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: #fff;
    }
  }
}

div[class^='announcementBar_'] {
  background: repeating-linear-gradient(
    -35deg,
    var(--ifm-color-primary-lighter),
    var(--ifm-color-primary-lighter) 20px,
    var(--ifm-color-primary-lightest) 10px,
    var(--ifm-color-primary-lightest) 40px
  );
  font-weight: 700;
}

.screen-reader-only {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.code-block-error-line {
  background-color: #ff000020;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
  border-left: 3px solid #ff000080;
}

.blogPost-container {
  /* border-radius: var(--ifm-pagination-nav-border-radius); */
  margin-top: 0;
  border-radius: 12px;
  background: var(--blog-item-background-color);
  box-shadow: var(--blog-item-shadow);
  padding: 1em 2em 0.75em;
}

.transition {
  transition: all 0.3s ease;
}
