.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.gradient-border {
  background-size: 600% 600%;
  border-radius: 8px;
  height: calc(100% + 2px);
  left: 0;
  margin-left: 1px;
  margin-top: 1px;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: translate(-2px, -2px);
  width: calc(100% + 2px);
  z-index: -1;
}

.gradient-border-light {
  background: linear-gradient(
    var(--gradient-angle),
    #00dc82,
    #fff,
    rgb(54 228 218 / 50%),
    rgb(29 224 177 / 30%)
  );
}

.gradient-border-dark {
  background: linear-gradient(
    var(--gradient-angle),
    hsl(0deg 0% 100% / 50%),
    hsl(0deg 0% 100% / 10%),
    #fff,
    hsl(0deg 0% 100% / 30%)
  );
}

.gradient-border {
  animation: gradient-rotate 5s linear 0s infinite reverse;
  opacity: 1;
  transition: all 0.3s linear;
}

@property --gradient-angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 1turn;
}

@keyframes gradient-rotate {
  0% {
    --gradient-angle: 360deg;
  }

  to {
    --gradient-angle: 0deg;
  }
}
