.blogPostFooterDetailsFull {
  flex-direction: column;
}

.blogPostInfo {
  margin-top: 0.5em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: var(--ifm-spacing-m);
  gap: 4px;
  color: #9ca3af;

  font-size: 0.8rem;
  font-weight: 400;
}

.blogPostInfoTags {
  display: flex;
  gap: 4px;

  a {
    color: #9ca3af;
  }

  a:hover {
    color: var(--ifm-link-color);
  }
}

.blogPostInfoTags > a {
  padding: 1px 4px;
}

.blogPostAuthor {
  display: inline-block;
  margin: 0 2px;
  color: inherit;
}

.blogPostAuthor:hover {
  text-decoration: none;
}

.blogPostDetailsFull {
  flex-direction: column;
}

.divider {
  background-color: #eaecef;
  border: 0;
  height: var(--ifm-hr-height);
  margin: 0.25rem 0;
}

html[data-theme='dark'] .divider {
  background-color: #2f3336;
}

.readMore {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
  align-items: center;
  gap: 2px;

  color: var(--ifm-link-color);
  font-weight: 500;

  a:hover {
    text-decoration: none;
  }
}
