.blogPostFooterDetailsFull {
  flex-direction: column;
}

.blogPostInfo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: var(--ifm-spacing-m);
  gap: 5px;
}

.blogPostInfoTags {
  display: flex;
  gap: 4px;
}

.blogPostInfoTags > a {
  font-size: 0.8em;
  padding: 1px 5px;
}

.blogPostAuthor {
  display: inline-block;
  margin: 0 4px;
  font-size: 0.95rem;
  font-weight: 400;
  color: inherit;
}

.blogPostAuthor:hover {
  text-decoration: none;
}

.blogPostDate,
.blogPostReadTime {
  font-size: 0.9rem;
}

.blogPostDetailsFull {
  flex-direction: column;
}

.divider {
  background-color: #eaecef;
  border: 0;
  height: var(--ifm-hr-height);
  margin: 0.25rem 0;
}

html[data-theme='dark'] .divider {
  background-color: #2f3336;
}
